<!DOCTYPE html>

<html>

<head>
    <title>Weather</title>
    <style>
        body {
    color: #333333;
    font-family: arial;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px;

    display: flex;
    flex-direction: column;
    min-height: 100vh
}

.main-content {
    flex-grow: 1;
}

footer {
    color: #888888;
    border-top: 1px solid #eeeeee;
    margin-top: 16px;
    padding: 16px 0;
}

header {
    margin-top: 16px;
    margin-bottom: 48px;
}

h1 {
    font-size: 64px;
    margin-bottom: 16px;
}

header a {
    color: #888888;
    margin-right: 16px;
    text-decoration: none;
}

.portrait {
    width: 250px;
}
    </style>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/web-server/public/css/styles.css">
    
</head>

<body>
    <div class="main-content">
        {{>header}}

        <p id="message">Use this site to get your weather!</p>
        <p id="message-1"></p>

        <form  id="form">
            <input type="text" placeholder="Location">
            <button>Search</button>
        </form>
    </div>

    {{>footer}}
    <script>
const messageOne = document.querySelector('#message-1')
const input = document.querySelector('form')
const search = document.querySelector('input')

input.addEventListener('submit',(e)=>{
    messageOne.textContent = ''
    e.preventDefault()
    const req = search.value
    
    fetch(`/weather/?address=${req}`).then((response) => {
        
    response.json().then((data) => {
        
        
        if(data.error) {console.log('can not fetch the data'); messageOne.textContent = 'Wrong input'}
        else messageOne.textContent = 'The weather in '+ data.location.name+' is ' + data.current.temperature        
    })
}).catch((err) => { console.log(err) })
})
    </script>
    
</body>

</html>